.b {
    display: grid;
    height: 100vh;
    width: 100%;
    grid-template-areas:
        "h h h h"
        "m m m a"
        "f f f f";
    text-align: center;
}

.h {
    background-color: rgb(230, 120, 120);
    height: 10vh;
    grid-area: h;
}

.m {
    display: grid;
    background-color: palevioletred;
    height: 70vh;
    width: 60vw;
    justify-content: center;
    align-items: center;

}

.s {
    display: grid;
    height: 60vh;
    width: 50vw;
    gap: 2em;
    grid-template-columns: 50% 50%;
    grid-template-rows: 50% 50%;
    grid-template-areas:
        "d1 d2"
        "d3 d3";
    justify-items: center;
    align-items: center;
}

.d1 {
    grid-area: d1;
}

.d2 {
    grid-area: d2;
}

.d3 {
    display: flex;
    grid-area: d3;
    justify-self: center;
    border: 1px solid purple;
    height: 3em;
    width: 60%;
    align-items: center;
    justify-content: center;
}

.a {
    background-color: plum;
    height: 70vh;
    width: 40vw;
    grid-area: a;

}

.f {
    display: grid;
    background-color: pink;
    height: 20vh;
    grid-area: f;
    grid-template-columns: repeat(4, 1fr);
    align-items: center;
}

.df {
    display: flexbox;
    border: 1px solid purple;
    height: 3em;
    width: 10vw;
    align-items: center;
    justify-content: center;

}


@media screen and (max-width: 767px) {
    .b {
        display: grid;
        height: 100vh;
        width: 100%;
        grid-template-areas:
            "h h h h"
            "m m m m"
            "a a a a"
            "f f f f";
        text-align: center;
        font-size: larger;
    }

    .h {
        background-color: rgb(230, 120, 120);
        height: 10vh;
        grid-area: h;
    }

    .m {
        display: flex;
        flex-wrap: wrap;
        background-color: palevioletred;
        height: 70vh;
        width: 100vw;
        justify-content: center;
    }

    .s {
        display: flex;
        flex-wrap: wrap;
        height: 60vh;
        width: 95vw;
        justify-content: center;
        align-items: stretch;
    }

    .p {
        grid-area: p;
    }

    .d1 {
        display: flex;
        grid-area: d1;
        justify-self: center;
        border: 1px solid purple;
        height: 4em;
        width: 60%;
        align-items: center;
        justify-content: center;
    }

    .d2 {
        display: flex;
        grid-area: d2;
        justify-self: center;
        border: 1px solid purple;
        height: 4em;
        width: 60%;
        align-items: center;
        justify-content: center;
    }


    .d3 {
        display: flex;
        grid-area: d3;
        justify-self: center;
        border: 1px solid purple;
        height: 4em;
        width: 60%;
        align-items: center;
        justify-content: center;
    }


    .a {
        background-color: plum;
        height: 20vh;
        width: 100vw;
        grid-area: a;
    }

    .f {
        display: none;
    }
}